<div class="container">
  <h4><a href="#/luggages">Go Back</a></h4><br>
  <div ng-model="items">
   <div class="row">
     <div class="col-md-4">
        <img id="mblock" src="img/luggages/{{items.images[0].name}}" >
        <div class="row">
          <div class="col-md-3">
              <img src="img/luggages/semi1.jpg" ng-click="setimage(items,semi1)" >
          </div>
          <div class="col-md-3">
              <img src="img/luggages/semi2.jpg" ng-click="setimage(items,semi2)" >
          </div>
          <div class="col-md-3">
              <img src="img/luggages/semi3.jpg" ng-click="setimage(items,semi3)" >
          </div>
          <div class="col-md-3">
              <img src="img/luggages/semi4.jpg" ng-click="setimage(items,semi4)" >
          </div>
        </div>
     </div>
     <div class="col-md-8">
       <h1>{{items.name}}</h1>
       <div class="well">
         {{items.description}}
       </div>
       <h3><u>Price</u>: {{items.price | currency}}</h3><br>
       <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="6RNT8A4HBBJRE">
              <input type="image"
        src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif"
        border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif"
        width="1" height="1">
      </form>
     </div>
   </div>
   </div>
</div>
